---
import Card from "@/components/Card.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import PoemBanner from "@/components/PoemBanner.astro";
import { DEFAULT_LOCALE, SUPPORTED_LOCALES } from "@/i18n/config";
import { getRelativeLocalePath } from "@/i18n/utils";
import Layout from "@/layouts/Layout.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import { getPostsByLocale } from "@/utils/posts";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (async () =>
  SUPPORTED_LOCALES.map(locale => ({
    params: { locale: locale === DEFAULT_LOCALE ? undefined : locale },
  }))) satisfies GetStaticPaths;

const { locale = DEFAULT_LOCALE } = Astro.params;

const posts = await getPostsByLocale(locale);

const sortedPosts = getSortedPosts(posts);
---

<Layout>
  <Header />
  <PoemBanner />
  <main
    id="main-content"
    data-layout="index"
    data-backurl={getRelativeLocalePath(locale, "/")}
  >
    {
      sortedPosts.length > 0 && (
        <section id="all-posts" class="pt-12 pb-6">
          <ul>
            {sortedPosts.map(data => (
              <Card {...data} variant="h3" />
            ))}
          </ul>
        </section>
      )
    }
  </main>
  <Footer />
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const element = document.querySelector("#main-content") as HTMLElement;
    const indexLayout = element?.dataset?.layout;
    const backUrl = element?.dataset?.backurl;
    if (indexLayout) {
      sessionStorage.setItem("backUrl", backUrl ?? "/");
    }
  });
</script>
