---
import { getRelativeLocalePath } from "@/i18n/utils";
import IconHash from "@/assets/icons/IconHash.svg";

export interface Props {
  tag: string;
  tagName: string;
  size?: "sm" | "lg";
}

const { tag, tagName, size = "sm" } = Astro.props;
---

<li
  class:list={[
    "group inline-block group-hover:cursor-pointer",
    size === "sm" ? "my-1" : "mx-1 my-3",
  ]}
>
  <a
    href={getRelativeLocalePath(Astro.currentLocale, `/tags/${tag}/`)}
    transition:name={tag}
    class:list={[
      "inline-flex items-center gap-1 rounded-md border bg-muted text-foreground transition-colors duration-300 group-hover:border-accent group-hover:text-accent",
      { "border border-border px-2 py-1 text-sm": size === "sm" },
      { "border-2 border-border px-3 py-2 text-lg": size === "lg" },
    ]}
  >
    <IconHash
      class:list={[
        "inline-block opacity-80 transition-colors duration-300",
        { "size-4": size === "sm" },
        { "size-6": size === "lg" },
      ]}
    /><span>{tagName}</span>
  </a>
</li>
