name: Code Standards & Tests & Build

on:
  pull_request:
    branches:
      - master
    types:
      - opened
      - edited
      - synchronize
      - reopened
    paths:
      - "src/**"
      - "public/**"
      - "astro.config.ts"
      - "tsconfig.json"
      - "eslint.config.mjs"
      - "remark-collapse.d.ts"

jobs:
  code_quality:
    uses: ./.github/workflows/code-standards-checks.yml
    with:
      run-build: true

  unit-tests:
    uses: ./.github/workflows/tests.yml
